# Python
__pycache__/
*.py[cod]
*.log

# IDEs
.idea/
.vscode/

# Allure
allure-results/
allure-report/

# Selenium screenshots (если сохраняешь)
screenshots/

# pytest cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db
